@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');

html,body {
  height: 100%;
  background: linear-gradient(90deg, rgba(15,32,39,1) 0%, rgba(32,58,67,1) 50%, rgba(44,83,100,1) 100%);
}

.container {
  padding-top: 20px;
  font-family: 'Poiret One', cursive;
}

.calculator {
  width: 350px;
  height: 550px;
  margin: 0 auto;
  border-radius: 3px;
  background-color: rgba(0,0,0,0.7);
  box-shadow: black 0px 5px 5px;
  color: white;

  &__path, &__number {
    letter-spacing: 3px;
    padding: 5px;
    text-align: right;
    overflow-x: auto;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      width: 24px;
      height: 2px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #817e7e;
      border-radius: 3px;
    }
  }

  $path-height: 6%;
  $number-height: 12%;
  &__path {
    height: $path-height;
    line-height: 100%;
    font-size: 30px;
    font-weight: 200;
  }

  $number-font-size: 50px;
  &__number {
    height: $number-height;
    font-size: $number-font-size;
    text-align: right;
    border-bottom: 1px solid #bbb;
    box-sizing: border-box;
  }

  &__panel {
    display: flex;
    flex-direction: column;
    height: 100% - ($path-height + $number-height);
    font-size: $number-font-size;

    &-row {
      display: flex;
      flex-direction: row;
      height: 20%;
      align-items: center;
    }

    &-button {
      flex: 1;
      text-align: center;
      cursor: pointer;

      &:last-child {
        color: rgb(253, 56, 56);
      }
    }
  }
}